<div class="row">
  <div class="col-md-4 py-5">
    <div class="border w-25"></div>
    <div class="border"></div>
    <h4>Popular Movies <br>Right Now</h4>
    <p>Most Trending Movies This Month</p>
  </div>
  <div *ngFor="let movie of trendingAll" class="col-md-2 my-2">
    <div class="movie position-relative">
      <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="movie poster" class="img-fluid">
      <h6 class="text-white my-2">{{movie.title == undefined ? movie.name:movie.title}}</h6>
      <div class="vote">{{movie.vote_average}}</div>
    </div>
  </div>
</div>
